body {
  -webkit-tap-highlight-color: transparent;
}

header {
  background-color: #8a2be2;
  text-align: center;
  position: fixed;
  width: 100%;
}

.sign-in {
  margin-top: 5.5em;
}

.app-container {
  max-width: 720px;
}

@media screen and (display-mode: standalone) {
  header {
    height: 88px !important;
  }
}