header {
  background-color: #8a2be2;
  text-align: center;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: env(safe-area-inset-top, 20px);
  padding-left: env(safe-area-inset-left, 0px);
  padding-right: env(safe-area-inset-right, 0px)
  /* min-height: 88px; Use min-height instead of height */
}

.app-container {
  max-width: 720px;
  padding-top: calc(160px + env(safe-area-inset-top, 20px));
}

@media screen and (display-mode: standalone) {
  header {
    /* Optionally adjust min-height if needed */
    /* min-height: 88px !important; */
  }
}
